@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	background: url(background.jpg) no-repeat center center fixed;
	background-size: cover;
	color: white;
	text-shadow: 0px 0px 10px black;
	font-family: 'Open Sans', sans-serif;

}

.container {
	max-width: 1000px;
	margin: 0 auto;
}

h1 {
	text-align: center;
}

.field, .bet, .sweep2, .sweep5  {
	float: left;
}

.sweep2, .sweep5 {
	padding-right: 10px;
}

.active {
	/*text-shadow: 0 0 10px black;*/
	color: orange;
	font-weight: bold;
	text-decoration: underline
}

